

<h2>@ViewData["ProperGreeting"]!<br>
The time is @ViewData["Time"] on @ViewData["Day"], @ViewData["Date"] <br>
@ViewData["Countdown"] more days until 2018.</h2>

<a asp-controller="Home" asp-action="AddPerson" class="btn btn-info">Add Person</a>
